* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}
body{
    background-color:  rgba(235, 242, 250, 1) !important;
}

/* Header Styles */
header{
    background-color: rgba(0, 124, 238, 1);
}
header .container-fluid > .row > .col-md-6 > .home-1 .home-nav .navbar-brand {
    color: #fff;
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
}

header .container-fluid > .row > .col-md-6 > .home-1 .home-nav .navbar-brand span {
    color: rgba(30, 30, 30, 1);
}

header .container-fluid > .row > .col-md-6 > .home-1 .home-nav #navbarNav {
    margin: 10px;
    font-size: 16px;
    padding: 5px;
}

header .container-fluid > .row > .col-md-6 > .home-1 .home-nav #navbarNav .nav-item .nav-link {
    color: #fff;
    font-weight: 200;
    padding: 0 10px;
}

header .container-fluid > .row > .col-md-6 > .profile {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

header .container-fluid > .row > .col-md-6 > .profile a {
    margin-right: 10px;
    color:#fff;
    text-decoration: none;
}

header .container-fluid > .row > .col-md-6 > .profile img {
    width: 30px;
    border-radius: 30px;
    margin-right: 10px;
}
/* Media query ------------------------------------ */
@media (max-width: 767px) {
    header .container-fluid > .row {
        flex-direction: column;
        align-items: center;
    }

    header .container-fluid > .row > .col-md-6,
    header .container-fluid > .row > .col-md-6 > .home-1,
    header .container-fluid > .row > .col-md-6 > .profile {
        width: 100%;
    }

    header .container-fluid > .row > .col-md-6 > .home-1 .home-nav .navbar-toggler {
        margin-right: 10px;
    }

    header .container-fluid > .row > .col-md-6 > .profile {
        position: relative;
        top: auto;
        right: auto;
        margin-top: 10px;
    }
}
/* end media query for header */
/* end Style header */
/* --------------------------------------------- */
/* start section side */
section.side{
    margin-top: 20px;
    height: 140vh;
}
section.side .container-fluid .row .bar{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    width:15%;
    align-items: justify;
}
section.side .container-fluid .row .bar a{
    margin: 10px 20px;
    text-decoration: none;
    color: rgba(147, 147 , 147,1);
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
}
section.side .container-fluid .row .bar a i{
    padding-right: 10px;
}
section.side .container-fluid .row .col-md-3 a.act{
    background-color:rgba(0, 124, 238, 0.15);
    color: rgba(0, 124, 238, 1);
    width:80%;
    font-size: 14px;
    font-weight: bold;
}
section.side .container-fluid .row .col-md-3 a.log{
    color: #ea4335;
    font-size: 14px;
    font-weight: bold;
}
.animate__pulse  {
    animation-name: flash;
  }
  
.animate__pulse:hover {
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

.side .container-fluid .row .col-md-9{
    background-color: #fff;
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    width:70%;
    height: 10vh;
}
.side .container-fluid .row .col-md-9 .search{
    margin: 10px 20px;
    width:50%;
    border-radius: 10px;
    border: 1px solid rgba(225, 225, 225, 1);
}
.side .container-fluid .row .col-md-9 .search .input-group .form input{
    border: none;
    font-size: 16px;
}
.side .container-fluid .row .col-md-9 .search .input-group .form input::placeholder{
    color: rgba(147, 147 , 147,1);
    padding-left: 10px;
}
.side .container-fluid .row .col-md-9 .search .input-group .btn i{
    color:rgba(147, 147 , 147,1);
}
.side .container-fluid .row .col-md-9 .search .input-group .form input:focus{
    border: none;
}
.side .container-fluid .row .col-md-9 h4{
    margin-top: 10px;
}
.side .container-fluid .row .col-md-9 .account{
    background-color: #fff;
    border-radius: 10px;
}
.side .container-fluid .row .col-md-9 .account .row .col-md-3{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    align-items: justify;
}
.side .container-fluid .row .col-md-9 .account .row .col-md-3 a{
    margin: 15px;
    text-decoration: none;
    color: rgba(147, 147 , 147,1);
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 400;
}
section.side .container-fluid .row .account .row .col-md-3 a.act{
    background-color:rgba(0, 124, 238, 0.15);
    color: rgba(0, 124, 238, 1);
    width:60%;
    font-size: 14px;
    font-weight: bold;
}
section.side .container-fluid .row .account .row .col-md-3 a.log{
    color: #ea4335;
    font-size: 14px;
    font-weight: bold;
}
/* ----------------------------------- */
.side .container-fluid .row .account .row .col-md-9{
    margin-top: 50px;
    border-radius: 10px;
    width:60%;
    height: 80vh;
}
.side .container-fluid .row .account .row .col-md-9 .row .personal{
    display: flex;
    border: 1px solid rgba(0, 124, 238, 1);
    border-radius: 10px;
}
.side .container-fluid .row .account .row .col-md-9 .personal img{
    width:59px;
    border-radius:30%;
    padding:5px;
    margin: 10px;
}
.side .container-fluid .row .account .row .col-md-9 .personal .info{
    margin-left: 25px;
    margin-top: 10px;
    color: rgba(147, 147 , 147,1);
    font-size: 12px;
    font-weight: 500;
}
.side .container-fluid .row .account .row .col-md-9 .personal .info .name{
    color: rgba(30, 30, 30, 1);
    font-size: 16px;
    font-weight: bold;
}
/* ------------------------------- */
.side .container-fluid .row .account .row .col-md-9 .row .information{

    border: 1px solid rgba(0, 124, 238, 1);
    border-radius: 10px;
    margin-top: 20px;
}
.side .container-fluid .row .account .row .col-md-9 .row .information .edi{
    display: flex;
    justify-content: space-between;
}
.side .container-fluid .row .account .row .col-md-9 .row .information h5{
    margin: 20px 15px;
    font-size: 16px;
    font-weight: bold;
}
.side .container-fluid .row .account .row .col-md-9 .row .information a{
    margin: 15px 20px;
    text-decoration: none;
    border: 1px solid rgba(0, 124, 238, 1);
    border-radius: 10px;
    text-align: center;
    padding: 5px 10px;

}
.side .container-fluid .row .account .row .col-md-9 .row .information .in{
    display: flex;
    justify-content: space-between;
}
.side .container-fluid .row .account .row .col-md-9 .row .information .in .infor-2{
    margin-left:20px ;
}
.side .container-fluid .row .account .row .col-md-9 .row .information .in h6{
    color: rgba(0, 124, 238, 1);
    font-size: 16px;
    font-weight: 500;
}
.side .container-fluid .row .account .row .col-md-9 .row .information .in p{
    color: rgba(147, 147 , 147,1);
    font-size: 14px;
    font-weight: 300;
}
.side .container-fluid .row .account .row .col-md-9 .row .information .email{
    display: flex;
    justify-content: space-between;
}
.side .container-fluid .row .account .row .col-md-9 .row .information .email h6{
    color: rgba(0, 124, 238, 1);
    font-size: 16px;
    font-weight: 500;
}
.side .container-fluid .row .account .row .col-md-9 .row .information .email p{
    color: rgba(147, 147 , 147,1);
    font-size: 14px;
    font-weight: 300;
}
.side .container-fluid .row .account .row .col-md-9 .row h4.auth{
    font-size: 16px;
    font-weight: bold;
    color: rgba(30, 30, 30, 1);
}
.side .container-fluid .row .account .row .col-md-9 .row .btn-danger{
    width: 35%;
    background-color: #007bee;
    color: #fff;
    border-color: #007bee;
    margin-top: 5px;
}
/* media query================================== */
@media (max-width: 767px) {
    .side .container-fluid .row {
        flex-direction: column;
    }

    .side .container-fluid .row .bar {
        width: 100%;
        margin: 10px;
    }

    .side .container-fluid .row .col-md-9 {
        width: 100%;
        margin: 10px;
    }

    .side .container-fluid .row .col-md-9 .search {
        width: 100%;
    }

    .side .container-fluid .row .col-md-9 .account {
        width: 100%;
    }

    .side .container-fluid .row .account .row .col-md-3 {
        width: 100%;
    }

    .side .container-fluid .row .account .row .col-md-9 {
        width: 100%;
        margin-top: 20px;
        height: auto;
    }
}

/* ======================================== */
/* ---------------------------------------- */
/* start footer */
.foot {
    width: 100%;
    background-color: #f8f9fa; /* Adjust background color as needed */
    padding: 20px 0; /* Adjust padding as needed */
}


footer .container .footer-bottom .logo{
    text-decoration: none;
    font-size: 24px;
    color:#007bee;
    font-weight:700;
}
footer .container .footer-bottom  .logo span{
    color: rgba(30, 30, 30, 1);
}
.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
  
.footer-menu li {
    display: inline-block;
    margin-right: 20px;
}
  
.footer-menu li:last-child {
    margin-right: 0;
}
  
.footer-menu a {
    color:rgba(147, 147, 147, 1);
    text-decoration: none;
}

/* End Footer */

/* Start Footer Bottom */
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  .footer-bottom .footer-copyright p {
    margin-right: 10px;
  }
  
  .footer-bottom .footer-social {
    display: flex;
  }
  
  .footer-bottom .footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-bottom .footer-social li {
    margin-right: 10px;
  }
  .footer-bottom .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.footer-bottom .social-icons li {
    display: inline-block;
    margin-right: 10px;
}
  
.footer-bottom .social-icons li:last-child {
    margin-right: 0;
}
  
.footer-bottom .social-icons a {
    color:rgba(217, 217, 217, 1);
    text-decoration: none;
    font-size: 20px;
}
/* End Footer Bottom */
  
/* ********************************************************* */
.side .container-fluid .row .account .row.noot{
    height: auto;
}
.side .container-fluid .row .account .row .not{
    border-radius: 5px;
    border: 1px solid rgba(0, 124, 238, 1);
    height: auto;
    margin-bottom: 40px;
}
.side .container-fluid .row .account .row .col-md-9 .notifi{
    display: flex;
    justify-content: space-between;
    margin:10px;
    width:90%;
    height: 5vh;
    /* margin-left: 25px; */

}
.side .container-fluid .row .account .row .col-md-9 .notifi  .name{
    font-size: 17px;
    margin: 1px;
    color: #007bee;
    margin-top: 4px;
    padding: 1px;
    font-weight: bold;
}
.side .container-fluid .row .account .row .col-md-9 .notifi  .name span{
    color: rgba(30, 30, 30, 1);
}
.side .container-fluid .row .account .row .col-md-9 .notifi  .job{
    font-size: 12px;
    text-align: center;
    margin: 1px;
    margin-top: 4px;
    color: #007bee;
    padding: 1px;
}
.side .container-fluid .row .account .row .col-md-9 .notifi .fa-solid{
    color:rgba(0, 124, 238, 1);
    margin-top: 8px;
}
@keyframes tada {
    0% {
      transform: scale3d(1, 1, 1);
    }
    10%, 20% {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .animate__tada {
    animation-name: tada;
  }
  
  .animate__tada:hover {
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  @keyframes heartBeat {
    0% {
      transform: scale3d(1, 1, 1);
    }
    10%, 20% {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

.animate__heartBeat {
    animation-name: heartBeat;
  }

.animate__heartBeat:hover {
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  

  /* Style for profileCars */
.side .container-fluid .row .account .row .col-md-9 .car{
    display: flex;
    justify-content: space-between;
    margin:10px;
    width:90%;
    height: 12vh;
} 
.side .container-fluid .row .account .row .col-md-9 .car img{
    width: 20%;
    border-radius: 5px;
}
.side .container-fluid .row .account .row .col-md-9 .car .texts h6{
    font-size: 14px;
    color: #007bee;
    margin-top: 14px;
    padding: 1px;
    font-weight:300;
    margin-right: 9px;
}
.side .container-fluid .row .account .row .col-md-9 .car .texts p{
    font-size: 14px;
    margin: 1px;
    color: rgba(147, 147, 147, 1);
    padding: 1px;
    font-weight:500;
}


/* style History */
.side .container-fluid .row .account .history{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}
.side .container-fluid .row .account .row .col-md-10{
    margin: 30px;
    background-color:transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.side .container-fluid .row .account .row .col-md-10 .histo {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    align-items: justify;
    background-color: rgba(0, 124, 238, 0.15);
    border-radius: 10px;
}
.side .container-fluid .row .account .row .col-md-10 .histo .hist h6{
    padding: 5px;
    color: rgba(147, 147 , 147,1);
    font-size: 14px;
    margin-top: 5px;
}
.side .container-fluid .row .account .row .col-md-10 .histo .hist p{
    color:rgba(0, 124, 238, 1);
    font-size: 12px;
    margin-left: 4px;
}
.side .container-fluid .row .account .row .col-md-10 .histo .hist i{
    color:#FFFACD;
    position: absolute;
    top:41%;
    left:77%;
    font-size: 20px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-2 {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    align-items: justify;
    margin-top: 15px;
    background-color: rgba(0, 124, 238, 0.15);
    border-radius: 10px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-2 .hist h6{
    padding: 5px;
    color: rgba(147, 147 , 147,1);
    font-size: 14px;
    margin-top: 5px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-2 .hist p{
    color:rgba(0, 124, 238, 1);
    font-size: 12px;
    margin-left: 4px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-2 .hist i{
    color:#FFFACD;
    position: absolute;
    top:55%;
    left:77%;
    font-size: 20px;
}

.side .container-fluid .row .account .row .col-md-10 .histo-3{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    align-items: justify;
    margin-top: 15px;
    background-color: rgba(0, 124, 238, 0.15);
    border-radius: 10px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-3 .hist h6{
    padding: 5px;
    color: rgba(147, 147 , 147,1);
    font-size: 14px;
    margin-top: 5px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-3 .hist p{
    color:rgba(0, 124, 238, 1);
    font-size: 12px;
    margin-left: 4px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-3 .hist i{
    color:#FFFACD;
    position: absolute;
    top:66%;
    left:77%;
    font-size: 20px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-4 {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    align-items: justify;
    margin-top: 15px;
    background-color: rgba(0, 124, 238, 0.15);
    border-radius: 10px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-4 .hist h6{
    padding: 5px;
    color: rgba(147, 147 , 147,1);
    font-size: 14px;
    margin-top: 5px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-4 .hist p{
    color:rgba(0, 124, 238, 1);
    font-size: 12px;
    margin-left: 4px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-4 .hist i{
    color:#FFFACD;
    position: absolute;
    top:80%;
    left:77%;
    font-size: 20px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-5 {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    align-items: justify;
    margin-top: 15px;
    background-color: rgba(0, 124, 238, 0.15);
    border-radius: 10px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-5 .hist h6{
    padding: 5px;
    color: rgba(147, 147 , 147,1);
    font-size: 14px;
    margin-top: 5px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-5 .hist p{
    color:rgba(0, 124, 238, 1);
    font-size: 12px;
    margin-left: 4px;
}
.side .container-fluid .row .account .row .col-md-10 .histo-5 .hist i{
    color:#FFFACD;
    position: absolute;
    top:93%;
    left:77%;
    font-size: 20px;
}

/* style wishList page */
.side .container-fluid .row .account .wish{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.side .container-fluid .row .account .wish .col-md-10{
    margin: 30px;
    background-color:transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.side .container-fluid .row .account .wish .col-md-10 .wi {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    align-items: justify;
    background-color:rgba(245, 245, 245, 1);
    border-radius: 10px;
}
.side .container-fluid .row .account .wish .col-md-10 .wi .list{
    display: flex;
}
.side .container-fluid .row .account .wish .col-md-10 .wi .list img{
    border-radius: 10px;
    padding: 10px;
}
.side .container-fluid .row .account .wish .col-md-10 .wi .list p{
    margin-top: 20px;
    color: #007bee;
    font-size: 14px;
    font-weight: bold;
}
.side .container-fluid .row .account .wish .col-md-10 .wi .list button.cart{
    background-color: #007bee;
    position: absolute;
    left: 60%;
    top:42%;
    color: #fff;
    width:8%;
    height:6vh;
    border-radius: 10px;
    font-size:14px;
    font-weight: bold;
    padding: 10px;
}
.side .container-fluid .row .account .wish .col-md-10 .wi .list button.remo{
    background-color: #fff;
    position: absolute;
    left: 70%;
    top:42%;
    width:8%;
    height:6vh;
    color:#ea4335;
    height:6vh;
    border-radius: 7px;
    border-color: #ea4335;
    font-size:14px;
    font-weight: bold;
    padding: 10px;

}


.side .container-fluid .row .account .wish .col-md-10 .wi-2 {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    align-items: justify;
    background-color:rgba(245, 245, 245, 1);
    border-radius: 10px;
    margin-top: 30px;
}
.side .container-fluid .row .account .wish .col-md-10 .wi-2 .list{
    display: flex;
}
.side .container-fluid .row .account .wish .col-md-10 .wi-2 .list img{
    border-radius: 10px;
    padding: 10px;
}
.side .container-fluid .row .account .wish .col-md-10 .wi-2 .list p{
    margin-top: 20px;
    color: #007bee;
    font-size: 14px;
    font-weight: bold;
}
.side .container-fluid .row .account .wish .col-md-10 .wi-2 .list button.cart{
    background-color: #007bee;
    position: absolute;
    left: 60%;
    top:60%;
    color: #fff;
    width:8%;
    height:6vh;
    border-radius: 10px;
    font-size:14px;
    font-weight: bold;
    padding: 10px;
}
.side .container-fluid .row .account .wish .col-md-10 .wi-2 .list button.remo{
    background-color: #fff;
    position: absolute;
    left: 70%;
    top:60%;
    width:8%;
    height:6vh;
    color:#ea4335;
    height:6vh;
    border-radius: 7px;
    border-color: #ea4335;
    font-size:14px;
    font-weight: bold;
    padding: 10px;

}
.side .container-fluid .row .account .wish .col-md-10 .wi-3 {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    align-items: justify;
    background-color:rgba(245, 245, 245, 1);
    border-radius: 10px;
    margin-top: 30px;
}
.side .container-fluid .row .account .wish .col-md-10 .wi-3 .list{
    display: flex;
}
.side .container-fluid .row .account .wish .col-md-10 .wi-3 .list img{
    border-radius: 10px;
    padding: 10px;
}
.side .container-fluid .row .account .wish .col-md-10 .wi-3 .list p{
    margin-top: 20px;
    color: #007bee;
    font-size: 14px;
    font-weight: bold;
}
.side .container-fluid .row .account .wish .col-md-10 .wi-3 .list button.cart{
    background-color: #007bee;
    position: absolute;
    left: 60%;
    top:77%;
    color: #fff;
    width:8%;
    height:6vh;
    border-radius: 10px;
    font-size:14px;
    font-weight: bold;
    padding: 10px;
}
.side .container-fluid .row .account .wish .col-md-10 .wi-3 .list button.remo{
    background-color: #fff;
    position: absolute;
    left: 70%;
    top:77%;
    width:8%;
    height:6vh;
    color:#ea4335;
    height:6vh;
    border-radius: 7px;
    border-color: #ea4335;
    font-size:14px;
    font-weight: bold;
    padding: 10px;

}
@keyframes flash {
    0% {
      transform: scale3d(1, 1, 1);
    }
    10%, 20% {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  
.animate__flash {
    animation-name: flash;
  }
  
.animate__flash:hover {
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

/* ----------------------------SStyle Cart in profile--------------------- */

.side .container-fluid .row .account.carts{
   background-color: transparent;
   display: flex;
   justify-content: space-between;
}
.side .container-fluid .row .account .cart {
    background-color: #fff;
}
.side .container-fluid .row .account .cart .col-md-8{
   border-radius: 10px;
   margin: 20px;
   background-color:transparent;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   width: auto;
   margin-top: 30px;

}
.side .container-fluid .row .account .cart .col-md-8 .amount{
    display: flex;
    margin-left: 10px;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 10px;
    width: 125%;
    
}
.side .container-fluid .row .account .cart .col-md-8 .amount .lists{
    display: flex;
    justify-content: space-between; 
}
.side .container-fluid .row .account .cart .col-md-8 .amount .lists img{
    padding: 10px;
    border-radius: 10px;
}
.side .container-fluid .row .account .cart .col-md-8 .amount .lists p {
    color: rgba(30, 30, 30, 1);
}
.side .container-fluid .row .account .cart .col-md-8  .amount .lists-2{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    width: 5%;
    height: 5vh;
    position: absolute;
    top:40%;
    left: 35%;
}

